html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.full-width {
    width: 98vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -49vw;
    margin-right: -49vw;
}

.store-preview-container {
    margin-top: 15px;
}

.qmirror-container {
    padding-top: 15px;
}

.star {
    background-size: 25px;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.star-inactive {
    background-image: url(../img/rating-star-256-gray.png);
}

.star-active {
    background-image: url(../img/rating-star-256-yellow.png);
}

.star-half {
    background-image: url(../img/rating-star-256-half.png);
}

.bg-5 {
    background-color: #00801A !important;
}

.bg-4 {
    background-color: #00CC29 !important;
}

.bg-3 {
    background-color: #FF6600 !important;
}

.bg-2 {
    background-color: #FF3300 !important;
}

.bg-1 {
    background-color: #CC0000 !important;
}

.surveyintro {
    font-weight: bold;
    font-size: 14pt;
    padding-top: 25pt;
    padding-bottom: 15pt;
}

.question {
    font-weight: bold;
}

.question-row {
    padding-top: 15px;
}

.appdescriptions {
    font-size: 10pt;
}

.appdscr-extra {
    padding-top: 15px;
}

.error-place {
    padding-top: 150px;
}

.survey-result-1 {
    color: #CC0000 !important;
}

.survey-result-2 {
    color: #FF6600 !important;
}

.survey-result-3 {
    color: #00801A !important;
}

.appinfo-results {
    padding-top: 50px;
}

.suggestion {
    font-size: 11pt;
}

.results-group {
    padding-top: 15px;
}